body {
    font-family: var(--font-main);
    background-color: var(--bg-light);
    margin: 0;
    padding: 20px;
    color: var(--text-dark);
}

.main-header {
    text-align: center;
    padding: 40px 0;
}

.main-header h1 {
    font-size: 2.5rem;
    color: var(--primary-color);
    margin-bottom: 10px;
    font-weight: 800;
}