@import url('variables.css');
@import url('components.css');
@import url('informe.css');

/* Reset base */
body {
    font-family: var(--font-main);
    background-color: var(--bg-light);
    margin: 0;
    color: var(--text-dark);
}
